body { 
    background-color: skyblue;
    font-family:'Times New Roman', Times, serif;
}

h1{
    font-size: 1em;
}

.navbar {
    text-align: right;
    background-color: white;
}

/* include your nav stuff here */

#about-us {
    color: white;
    background-color: lightblue;
    padding: 5p 10px;
    
}

.wrapper {
    background-color: red;
    padding: 15px;
    margin: auto;
    text-align: left;
    width: 30%;
    margin-top: 3em;
}








